<section class="bg-light py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
        <h2 class="mb-4 display-5 text-center">Add New Employee</h2>

        <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle" />
      </div>
    </div>
  </div>

  <!--  -->
  <div class="container">
    <div class="row">
      <div class="col-12 mb-3 mb-lg-5">
        <form action="/userCreate" method="POST">
          <label class="form-label" for="employeeNumber"
            >Employee Number:</label
          >
          <input
            class="form-control"
            type="number"
            name="employeeNumber"
            id="employeeNumber"
          /><br />
          <label class="form-label" for="username">Username:</label>
          <input
            class="form-control"
            type="text"
            name="username"
            id="username"
          /><br />
          <label class="form-label" for="password">Password:</label>
          <input
            class="form-control"
            type="password"
            name="password"
            id="password"
          /><br />
          <label class="form-label" for="confirmPassword"
            >Confirm Password:</label
          >
          <input
            class="form-control"
            type="password"
            name="confirmPassword"
            id="confirmPassword"
          />
          <br />
          <label class="form-label" for="role">User Role:</label>
          <select class="form-select" name="role" id="role">
            <option value="worker" selected>Worker</option>
            <option value="supervisor">Supervisor</option>
            <option value="admin">Admin</option>
          </select>
          <br />

          <button class="btn btn-success" type="submit">Add Employee</button>
        </form>
      </div>
    </div>
  </div>
</section>
