<nav>
    <a href="/">Home</a>
    <% if (user) { %>
        <% if(user.role === "admin") { %>
            <a href="/users">View all Users</a>
        <% } else if (user.role === "supervisor") {%>

        <% } else { %>

        <% } %>
      
        
        <a href="/auth/sign-out">Sign Out</a>
    <% } else { %>
        <a href="/auth/sign-up">Sign Up</a>
        <a href="/auth/sign-in">Sign In</a>
    <% } %>
</nav>
  