<h1>Add New Car</h1>
<form action="/requests/new/<%= service._id %>" method="POST">
  <label for="carNumber">Plate Number:</label>
  <input type="text" name="carNumber" id="carNumber" /><br />
  <label for="make">Make:</label>
  <input type="text" name="make" id="make" /><br />
  <label for="model">Model:</label>
  <input type="number" name="model" id="model" /><br />
  <label for="color">Color:</label>
  <input type="text" name="color" id="color" />
  <br />
  <label for="ownerName">Owner Name:</label>
  <input type="text" name="ownerName" id="ownerName" />
  <br />
  <label for="contactNumber">Contact Number:</label>
  <input type="number" name="contactNumber" id="contactNumber" />
  <br />

  <button type="submit">Add Car & Continue</button>
</form>
