<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <title>Home Page</title>
  </head>
  <body>
    <%- include('./partials/_navbar.ejs') %>
    <!--  -->

    <% if (typeof message !== 'undefined'){ %>
    <div class="alert alert-info alert-dismissible">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      <%= message %>
    </div>
    <% } %>

    <!--  -->

    <% if (typeof page !== 'undefined'){ %> <%- include(page) %> <% } %>
  </body>
</html>
