<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Home Page</title>
  </head>
  <body>
    <%- include('./partials/_navbar.ejs') %>
    <!--  -->

    <% if (typeof message !== 'undefined'){ %>
    <div class="alert alert-info alert-dismissible">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      <%= message %>
    </div>
    <% } %>

    <!--  -->

    <% if (typeof page !== 'undefined'){ %> <%- include(page) %> <% } %>
  </body>
</html>
