<h1>Add New Service</h1>
<form action="/services" method="POST">
  <label for="serviceName">Service Name:</label>
  <input type="text" name="serviceName" id="serviceName" /><br />
  <label for="serviceDescription">Service Description:</label>
  <input type="text" name="serviceDescription" id="serviceDescription" /><br />

  <h4>Workers:</h4>

  <select name="employees" id="employees" class="form-select" multiple>
    <% users.forEach((user) => { %>
    <option value="<%= user._id %>"><%= user.username %></option>
    <% }) %>
  </select>
  <p>Hold down the control (ctrl/command) button to select multiple options</p>

  <button type="submit">Add Service</button>
</form>
